body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color:rgb(30, 28, 28);
}

.loginDiv {
    background-color:rgb(147, 143, 143);
    padding: 3vh;
    border-radius: 1vh;
    text-align: center;
    width: 35vh;
}

.formCamp label{
    display: block;
    text-align:center;
    padding: 1vh;
}

.loginOff {
    padding: 1.5vh;
}

#password {
    font-size: 15px;
    position: relative;
    left: 3%;
}

i {
    cursor: pointer;
    position: relative;
    right: 7%;
}

#email {
    font-size: 15px;
}

footer {
    font-size: 15px;
}

#areaAlert {
    background-color:rgb(147, 143, 143);
    border-radius: 1vh;
    text-align: center;
    max-width: 1000px;
    margin-bottom: 20px;
    display: none;
}

#areaAlert p, h4 {
    margin: 3px 3px 3px 3px;
}